{% load bootstrap5 %}
{% load static %}
{% load navbar_active %}
{% load user_has_group %}
{% load user_has_any_group %}
{% load user_has_all_groups %}

<nav class="navbar navbar-expand-lg text-center {{ global_application_color_schema_configuration.navbar_style }} {{ global_application_color_schema_configuration.navbar_background_color }}">
    <!-- MENU COLLAPS -->
    <a class="navbar-brand" href="/">
        {% with favicon_path=""|add:global_application_template_configuration.favicon_icon %}
            <img src="{% static favicon_path %}" width="32" height="32" class="d-inline-block align-top" alt="">
        {% endwith %}
        {{ global_application_template_configuration.application_display_name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU ITEMS -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <!-- KONFIGURACE -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Nastavení
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarKonfigurace">
                        <li><a class="dropdown-item" href=''><b>Filtry zobrazení
                            domy</b></a></li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Uživatelský účet</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href='{% url "accounts:account-change-password" %}'>Změnit
                                    heslo</a></li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li><a class="dropdown-item" href='{% url "accounts:account-detail" %}'>Detaily</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Kategorie</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href='{% url "contacts:category-contacts-listing" %}'>Kategorie
                                    kontaktů</a></li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li><a class="dropdown-item" href=''>Kategorie
                                    předpisů plateb</a></li>
                                <li><a class="dropdown-item" href=''>Kategorie
                                    dokladů k rozúčtování</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" href=''>Parametry - domy</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" href=''>Parametry -
                            uzávěrky</a>
                        </li>
                    </ul>
                </li>
                <!-- BYTY -->
                <li class="nav-item dropdown {% navbar_active 'byty' %}">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Domy a jednotky
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarByty">
                        <li>
                            <a class="dropdown-item" href=''><b>Domy</b></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>Přidat nový</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''><b>Jednotky</b></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>Přidat novou</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>
                                <b>Předpisy plateb</b>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''><b>Platby</b></a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''><b>GPC Import -
                                připsané platby</b></a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>Nájemnící</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>Vlastníci</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>Počty osob</a>
                        </li>
                    </ul>
                </li>
                <!-- SLUZBY -->
                <li class="nav-item dropdown {% navbar_active 'sluzby' %}">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Služby
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarSluzbyy">
                        <li>
                            <a class="dropdown-item" href=''>Definice</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>Koeficienty</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>
                                <b>Doklady k rozúčtování</b>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href=''>
                                <b>GPC Import - odepsané platby</b>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- MERIDLA -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Měřidla
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarOaplikaci">
                        <li><a class="dropdown-item" href=''>Seznam odečtových služeb</a></li>
                        <li><a class="dropdown-item" href=''>Služby rozpad fakturace</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href=''>Seznam odečtů měřidel</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href=''>Seznam měřidel</a></li>
                        <li><a class="dropdown-item" href=''>Seznam rozpadových měřidel</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href=''>Roční závěrka měřidel</a></li>
                        <li><a class="dropdown-item" href=''>Roční závěrka rozpadových měřidel</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href=''>Přidej nové měřidlo</a></li>
                        <li><a class="dropdown-item" href=''>Přidej nový odečet</a></li>
                    </ul>
                </li>
                <!-- UZAVERKY -->
                <li class="nav-item dropdown {% navbar_active 'uzaverky' %}">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Závěrky
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarZaverky">
                        <li><a class="dropdown-item" href=''>Odečty</a></li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" href=''>Roční
                            závěrka</a></li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" href=''>Archiv
                            ročních závěrek</a></li>
                    </ul>
                </li>
                <!-- KONTAKTY -->
                <li class="nav-item dropdown {% navbar_active 'contacts' %}">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Kontakty
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarKontakty">
                        <li><a class="dropdown-item" href='{% url "contacts:contacts-listing" %}'>Seznam</a></li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" href='{% url "contacts:choose-create-type" %}'>Přidej nový
                            kontakt</a></li>
                        <li><a class="dropdown-item" href='{% url "contacts:ares-search-company-id" %}'>Přidej kontakt
                            přes ARES</a></li>
                        <li><a class="dropdown-item" href='{% url "contacts:contacts-fulltext-search" %}'>Hledej
                            text</a></li>
                    </ul>
                </li>
            {% endif %}
            <!-- FEEDBACK -->
            {% if request.user|user_has_any_group:"developers admin_module_feedback feedback_user" %}
                <li class="nav-item dropdown {% navbar_active 'feedback' %}">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Podněty
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDeveloper">
                        <li><a class="dropdown-item" href='{% url "feedback:feedbacknote-listing" %}'>Seznam podnětů</a></li>
                        {% if request.user|user_has_any_group:"developers admin_module_feedback" %}
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" href='{% url "feedback:feedbacknote-category-listing" %}'>Kategorie podnětů</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            <!-- ADMIN TOOLS -->
            {% if request.user|user_has_any_group:"developers admin_module_admin admin_module_accounts" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Administrace
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDeveloper">
                        {% if request.user|user_has_group:"admin_module_admin" %}
                            <li><a class="dropdown-item" href='{% url "admin:index" %}'>Django admin</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" href=''>Ukončené
                                služby</a></li>
                            <li><a class="dropdown-item" href=''>Neaktivní
                                služby</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                        {% endif %}
                        {% if request.user|user_has_group:"developers" %}
                            <li><a class="dropdown-item"
                                   href='{% url "common:session-list-parameters" %}'>Sessions...</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                        {% endif %}
                        {% if request.user|user_has_group:"admin_module_accounts" %}
                            <li><a class="dropdown-item" href='{% url "accounts:account-listing" %}'>Uživatelé
                                aplikace</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            <!-- ZAMKNOUT -->
            <li class="nav-item">dljfslkdjkss
                {% if user.is_authenticated %}
                    <a title="Odhlásit se..."
                       href="{% url 'accounts:confirm-account-logout' %}"><i class="bi bi-unlock-fill"></i></a>
                {% else %}
                    <a title="Přihlásit se..."
                       href="{% url 'accounts:account-login' %}"><i class="bi bi-lock-fill"></i></a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
