{% extends 'django_puzzle_bootstrap5_base_template.html' %}

{% load bootstrap5 %}
{% load static %}
{% load menu %}

{% block django_puzzles_title %}
    {% if head_title %}
        {{ head_title }}
    {% endif %}
{% endblock %}

{%  block django_puzzles_favicon %}
    <link rel="shortcut icon" href="{% static 'img/favicon-asbd.png' %}"/>
{%  endblock %}

{% block django_puzzles_content %}
<div class='container-fluid'>
    <!-- MENU ROW -->
    <div class='row ml-0 {{ global_application_color_schema_configuration.menu_row_background_color }} {{ global_application_color_schema_configuration.menu_row_text_color }}'>
        <div class="col-12">
            <!-- MAIN MENU - NAVBAR -->
            {% include "django_puzzle_minimal_navbar.html" %}
        </div>
    </div>
    <!-- DYNAMIC CONTEXT ROW -->
    <div class="row mt-1 ml-0 {{ global_application_color_schema_configuration.dynamic_row_background_color }}">
        <div class="col-12  mr-auto">
            <div class="{{ global_application_color_schema_configuration.dynamic_row_text_color }}">
                {% if information_text %}
                    <b> {{ information_text }}</b>
                {% else %}
                    Informační navigační text..
                {% endif %}
            </div>
        </div>
    </div>
    <!-- MAIN CONTENT ROW-->
    <div class='row my-1 ml-0'>
        <!-- LEFT MENU -->
        {% if menu_left %}
            <div id="menu_left"
                 class="col-lg-3 col-xl-2 {{ global_application_color_schema_configuration.left_menu_background_color }} {{ global_application_color_schema_configuration.left_menu_border_color }}">
                {% render_menu menu_left %}
            </div>
        {% endif %}
        <!-- CONTENT CENTER -->
        <div class="col mr-1 bg-light" style="min-height: 470px;">
            {% include 'snippets/show_django_messages.html' %}
            {% block main_content_data %}
                CENTER DATA
            {% endblock main_content_data %}
        </div>
        <!-- RIGHT MENU -->
        {% if menu_right %}
            <div id="menu_right"
                 class="col-lg-3 col-xl-2 border-start {{ global_application_color_schema_configuration.right_menu_background_color }} {{ global_application_color_schema_configuration.right_menu_border_color }}">
                {% render_menu menu_right %}
            </div>
        {% endif %}

    </div>
    <!-- FOOTER ROW-->
    <div class='row ml-0 bg-light {{ global_application_color_schema_configuration.footer_border }} {{ global_application_color_schema_configuration.footer_border_color }}'
         style="min-height: 50px;">
        <div class="col">
            {% include "snippets/isauthuser.html" %}
            {% if menu_bottom and is_developer %}
                {% render_menu menu_bottom %}
            {% endif %}
            {% block footer_data %}{% endblock footer_data %}
        </div>
    </div>
</div>
{% endblock %}