{% load bootstrap5 %}
{% load static %}
{% load navbar_active %}
{% load user_has_group %}
{% load user_has_any_group %}
{% load user_has_all_groups %}

<nav class="navbar navbar-expand-lg text-center {{ global_application_color_schema_configuration.navbar_style }} {{ global_application_color_schema_configuration.navbar_background_color }}">
    <!-- MENU COLLAPS -->
    <a class="navbar-brand" href="/">
        {% with favicon_path=""|add:global_application_template_configuration.favicon_icon %}
            <img src="{% static favicon_path %}" width="32" height="32" class="d-inline-block align-top" alt="">
        {% endwith %}
        {{ global_application_template_configuration.application_display_name }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU ITEMS -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            {% if user.is_authenticated %}
                <!-- KONFIGURACE -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarKonfigurace" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Nastavení
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarKonfigurace">
                        <li>
                            <h6 class="dropdown-header">Uživatelský účet</h6>
                        </li>
                        <li>
                            <a class="dropdown-item ps-4 fw-normal" href='{% url "accounts:account-change-password" %}'>Změnit heslo</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <h6 class="dropdown-header">Kategorie</h6>
                        </li>
                        <li>
                            <a class="dropdown-item ps-4 fw-normal" href='{% url "contacts:category-contacts-listing" %}'>Kategorie kontaktů</a>
                        </li>
                    </ul>
                </li>
                <!-- KONTAKTY -->
                <li class="nav-item dropdown {% navbar_active 'contacts' %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarKontakty" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Kontakty
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarKontakty">
                        <li><a class="dropdown-item" href='{% url "contacts:contacts-listing" %}'>Seznam</a></li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" href='{% url "contacts:choose-create-type" %}'>Přidej nový kontakt</a></li>
                        <li><a class="dropdown-item" href='{% url "contacts:ares-search-company-id" %}'>Přidej kontakt přes ARES</a></li>
                        <li><a class="dropdown-item" href='{% url "contacts:contacts-fulltext-search" %}'>Hledej text</a></li>
                    </ul>
                </li>
            {% endif %}
            <!-- FEEDBACK -->
            {% if request.user|user_has_any_group:"developers admin_module_feedback feedback_user" %}
                <li class="nav-item dropdown {% navbar_active 'feedback' %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarFeedback" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Podněty
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarFeedback">
                        <li><a class="dropdown-item" href='{% url "feedback:feedbacknote-listing" %}'>Seznam podnětů</a></li>
                        {% if request.user|user_has_any_group:"developers admin_module_feedback" %}
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" href='{% url "feedback:feedbacknote-category-listing" %}'>Kategorie podnětů</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            <!-- ADMIN TOOLS -->
            {% if request.user|user_has_any_group:"developers admin_module_admin admin_module_accounts" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Administrace
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAdmin">
                        {% if request.user|user_has_group:"admin_module_admin" %}
                            <li><a class="dropdown-item" href='{% url "admin:index" %}'>Django admin</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" href='#'>Ukončené služby</a></li>
                            <li><a class="dropdown-item" href='#'>Neaktivní služby</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                        {% endif %}
                        {% if request.user|user_has_group:"developers" %}
                            <li><a class="dropdown-item" href='{% url "common:session-list-parameters" %}'>Sessions...</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                        {% endif %}
                        {% if request.user|user_has_group:"admin_module_accounts" %}
                            <li><a class="dropdown-item" href='{% url "accounts:account-listing" %}'>Uživatelé aplikace</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            <!-- ZAMKNOUT -->
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a title="Odhlásit se..." href="{% url 'accounts:confirm-account-logout' %}"><i class="fas fa-lock-open"></i></a>
                {% else %}
                    <a title="Přihlásit se..." href="{% url 'accounts:account-login' %}"><i class="fas fa-lock"></i></a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
