/* ========== NADPISY A POPISY ========== */
.hlavni_nadpis_report_bold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.hlavni_nadpis_report_normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
.vedlejsi_nadpis_report {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
.hlavicka_nazev_domu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.hlavicka_nadpis {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000200;
	text-align: left;
}

.hlavicka_vypis_obdobi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: right;
}

.paticka_uzivatel_datum {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.hlavicka_tabulka_nadpis {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}

.report_uzivatel_info_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.single_line_text_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-align: left;
    display: inline-block;
}

.single_line_text_middle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	text-align: left;
    display: inline-block;
}

.single_line_text_large {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	text-align: left;
    display: inline-block;
}

/* ========== TABULKY KOMPONETY ========== */
div.ReportTable1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

div.ReportTable2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

div.ReportTableVlastnici {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

div.ReportTableBytInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.BunkaHlavickaLeft, .BunkaHlavickaCenter, .BunkaHlavickaRight {
    border: 1px solid #AAAAAA;
    padding: 3px 3px;
    vertical-align: middle
}

.BunkaTeloLeft, .BunkaTeloCenter, .BunkaTeloRight {
    border: 1px solid #AAAAAA;
    padding: 3px 3px;
    vertical-align: middle
}

.BunkaPatickaLeft, .BunkaPatickaCenter, .BunkaPatickaRight {
    border: 1px solid #AAAAAA;
    padding: 3px 3px;
    vertical-align: middle
}

.BunkaBezOhraniceniCenter, .BunkaBezOhraniceniLeft, .BunkaBezOhraniceniRight, .BunkaKontaktBigText {
    padding: 3px 3px;
    vertical-align: middle;
}

/* Hlavicka */
.Hlavicka {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    border-bottom: 2px solid #727272;
    font-weight: bold;
    color: #000000;
}

/* Paticka */
.RadekPaticka {
    font-weight: bold;
    color: #000000;
}

.RadekPatickaFinal {
    font-weight: bold;
    color: #000000;
    font-size: 14px;
}

/* Bunky text-align */
.BunkaHlavickaLeft, .BunkaTeloLeft, .BunkaPatickaLeft, .BunkaBezOhraniceniLeft, .BunkaKontaktBigText {
    text-align: left;
}

.BunkaHlavickaCenter, .BunkaTeloCenter, .BunkaPatickaCenter, .BunkaBezOhraniceniCenter {
    text-align: center;
}

.BunkaHlavickaRight, .BunkaTeloRight, .BunkaPatickaRight, .BunkaBezOhraniceniRight {
    text-align: right;
}

/* Bunky velikost textu */
.BunkaKontaktBigText {
    font-size: 16px;
	font-weight: bold;
}

/* TISK PODPORA */
.NovaStrankaTisk {
    color: #000000;
}

@media print{
    .NovaStrankaTisk {page-break-after: always;}
    .RadekHlavicka, .RadekTelo, .RadekPaticka, .RadekPatickaFinal {page-break-inside: avoid;}
}

/* Zobraz komponenty tabulky */
/* TABLES */
.ReportTable1, .ReportTable2, .ReportTableVlastnici, .ReportTableBytInfo { display: table; }

/* TABLE HEADERS AND FOOTERS */
.RadekHlavicka, .RadekTelo, .RadekPaticka, .RadekPatickaFinal { display: table-row; }
.Hlavicka { display: table-header-group;}

/* CELLS */
.BunkaHlavickaLeft, .BunkaHlavickaCenter, .BunkaHlavickaRight { display: table-cell;}
.BunkaTeloLeft, .BunkaTeloCenter, .BunkaTeloRight { display: table-cell;}
.BunkaPatickaLeft, .BunkaPatickaCenter, .BunkaPatickaRight { display: table-cell;}
.BunkaBezOhraniceniCenter, .BunkaBezOhraniceniLeft, .BunkaBezOhraniceniRight, .BunkaKontaktBigText { display: table-cell;}

/* TABLE BODZ */
.Telo { display: table-row-group;}

